# Ce fichier est obsolète – utiliser chem-env.yaml pour installer IAM

flask
flask-cors
python-dotenv
rdkit-pypi
py3Dmol

numpy
scipy
pandas
matplotlib
jupyterlab

requests
openai
scikit-learn
torch
transformers
